.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
        
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  ul,
  ol {
    margin: 0;
    padding: 0; 
  }
  img {
    display: block;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
  }
  a {
    text-decoration: none;
    color: #212121;
  }
  ul {
    list-style: none;}
  .colortext {
    color: #2196F3;
  }
  .accent {
    color: #2196F3
  }
  .link:hover,
  .link:focus {
    color: #2196F3;
  }
  .container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #ec93ca;
    
  } 
  ------------------Header----------------
  
  .nav__item {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
  }
  .header__mail a,
  .header__tel a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;
  }
/* Почему не пременяется до address? */
  .header {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background: rgb(207, 207, 214);
  }

  .nav__items {
    display: flex;
    align-items: center;
  }
  header .address {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  header .logo {
    margin-right: 90px;
  }

  .nav__item:not(:last-child) {
    margin-right: 50px;
  }

  .header__mail {
    margin-right: 50px;
  } 
  .link {
    display: flex;
    outline: 1px solid rgb(37, 173, 25);
  }
  .header .container {
    display: flex;
    align-items: center;
    outline: 1px solid tomato;
  }

 
  -------------------------------/* hero */
  .hero__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* color: #FFFFFF; */
    outline: 1px solid rgb(197, 94, 211);
  }
  .hero__title {
    margin-bottom: 30px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal__btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    /* color: #FFFFFF; */
  }

  .modal__btn {
    /* position: absolute; */
    min-width: 200px;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 32px;
  }
  .hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background: #a0cff7;

  }
  
  /* --------------------------Features------------ */
  .features__subtitl {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
  }

  .features__desc {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575; 
  }
  .features {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(149, 235, 137);
  }
  .features__items {
    display: flex;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
  .features__subtitle {
    margin-bottom: 10px;
  }
  .features__desc {
    padding-right: 20px;
    outline: 1px solid rgb(5, 1, 0);
  }
  /* -----------------Work-examples ----------------*/

  .work-examples__title,
  .team__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .work-examples {
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: rgb(153, 10, 10);
  }
  .work-examples__items {
    display: flex;
    /* align-items: center; */
  }
  .work-examples__item:not(:last-child) {
    margin-right: 30px;
  }

  /* .work-examples__title {
    margin-left: auto;
    margin-right: auto;
  } */
  -----------------------------------------/* Team */
  .team__subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: #212121;
  }

  .team__desc {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .team__items {
    display: flex;
    align-items: center;
  }
  .team__title {
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
    background-color: rgb(139, 111, 204);
  }
  ---
   ---------------------------------------- /* Footer */
    .footer__mail a,
    .footer__tel a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
     /* color: rgba(255, 255, 255, 0.6);*/
    }
  .footer__adrress a{
   /* color: #FFFFFF;  */
  }
 
  
      /* -----------------------Catalog-------------- */
  .catalog__btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .catalog__btn:hover,
  .catalog__btn:focus {
    background-color: #2196F3;
    color: #FFFFFF;
  }

  .catalog__subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
  }
  .catalog__desc {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
  }
